{% extends "base.html" %}

{% block content %}
<?xml-stylesheet type="text/css" href="svgstyle.css"?>
<div class="board" style="float: left;">
    <img src='{{ photo }}' width=720px height=720px>
</div>
<div class="rule" style="margin-left: 800px; margin-bottom: 150px;">
    <h1>Ход вводится по следующему правилу: сначала пишется клетка, откуда фигура должна </h1>
    <h1>пойти, потом - конечная клетка. Клетка обозначается буквой от a до h и цифрой от 1 до 8</h1>
    <h1>Пример: e2e4. При некорректном ходе ничего не произойдёт.</h1>
    <h1>Чтобы начать игру сначала напишите "reset" в поле.</h1>
</div>
<div class="check" style="margin-left: 1100px;">
    {% if check == True %}
        <h1 style="color: #FF6600;">ШАХ!</h1>
    {% endif %}
</div>
<div class="ending" style="margin-left: 1000px;">
{% if lose == True %}
    <h1 style="color: #FF0000;">Ты проиграл</h1>
{% endif %}
{% if win == True %}
    <h1 style="color: #008000;">Ты выиграл!</h1>
{% endif %}
{% if draw == True %}
    <h1 style="color: #804030;">Ничья</h1>
{% endif %}
</div>
<div class="form">
<form action="" method="post" novalidate id="game">
    {{ form.hidden_tag() }}
    <p>
        {{ form.move.label }}<br>
        {{ form.move(class="form-control") }}<br>
        {% for error in form.move.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-dark", style="color:#FFDEAD;") }}</p>
</form>
</div>

{% endblock %}