{% extends "base.html" %}

{% block content %}
<table id="register">
<tr><td id="pawn1"><img src="/static/img/pawn1.png" alt="" width="500" height=667" align="right"/></td>
<td id="rform"><form action="" method="post" >
    <h1 align="center">Регистрация</h1>
    {{ form.hidden_tag() }}
    <p align="center">
        <b>{{ form.username.label }}</b><br>
        {{ form.username(class="form-control") }}<br>
        {% for error in form.username.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p align="center">
        <b>{{ form.email.label }}</b><br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p align="center">
        <b>{{ form.password.label }}</b><br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p align="center">
        <b>{{ form.password_again.label }}</b><br>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p align="center">{{ form.submit(type="submit", class="btn btn-dark", style="color:#FFDEAD;") }}</p>
    {{message}}
</form></td>
<td id="pawn2"><img src="/static/img/pawn2.png" alt="" width="500" height=667" /></td>
    </tr></table>
{% endblock %}